
@{
    ViewData["Title"] = "Records";
    int i = 0;
}
@model BlockChain_fabric.Models.RecordSearch
<div class="col-md-12 col-sm-12 ">
    <div class="x_panel">
        <div class="x_title">
            <h2>Medical Records <small>List </small> </h2>
            <ul class="nav navbar-right panel_toolbox">
                <li>
                    <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>

                </li>
                <li>
                    <a class="close-link"><i class="fa fa-close"></i></a>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-horizontal">
                        <form asp-action="Records" asp-controller="Home" method="post">
                            @if (Context.User.IsInRole("Admin"))
                            {
                                <input type="text" class="form-control-lg" asp-for="data" id="data" name="data" placeholder=" username / email " />
                            }
                            else
                            {
                                <input type="text" readonly value="@ViewBag.user" class="form-control-lg" asp-for="data" id="data" name="data" placeholder=" username / email " />
                            }
                            <input type="submit" class="btn btn-primary" />
                        </form>
                    </div>
                    <div class="col-md-12">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>User</th>
                                    <th>Humidity</th>
                                    <th>Temp</th>
                                    <th>Status</th>
                                    <th></th>
                                    <th>Created At</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var itm in ViewBag.mRecord)
                                {
                                    i++;
                                    <tr>
                                        <td>@i</td>
                                        <td>@itm.uname</td>
                                        <td>@itm.humidity</td>
                                        <td>@itm.temp</td>
                                        <td>@itm.doorSts</td>
                                        <td><a class="btn btn-primary" onclick="window.open("https://www.latlong.net/c/?lat="+@itm.lat+"&long="+@itm.lang+"&output=embed", "_blank", "toolbar=yes,top=500,left=500,width=400,height=400");">Location View</a></td>
                                        <td>@itm.createdAt.ToString("yyyy-MM-dd hh:mm:ss tt")</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


